main
    .main_imgae
        img(src=require("./img/image_3.png"))
        p Лучшие номера для вашей работы, отдыха и просто вдохновения
    .main_number-for-you
        include number-for-you/number-for-you