main
    .main_imgae
        img.flexible-image(src=require("./img/image_3.png"))
        p Лучшие номера для вашей работы, отдыха и просто вдохновения
    form.main_number-for-you(method="post")
        include number-for-you/number-for-you