.number-for-you__title
    h1 Найдём номера под ваши пожелания
.number-for-you__arrival-and-departure
    label(for=".date-arrival") прибытие
        input.date.date-arrival(type="text" placeholder="ДД.ММ.ГГГГ" autocompete="off" readonly)
        i.material-icons expand_more
    label(for=".date-departure") выезд
        input.date.date-departure(type="text" placeholder="ДД.ММ.ГГГГ" autocompete="off" readonly)
        i.material-icons expand_more
.number-for-you__guests
    label(for=".guests") гости
        .count_guest
            input.count.guests(type="text" placeholder="Сколько гостей" readonly)
        i.material-icons expand_more
.number-for-you__btn
    p
        input(type="submit" value="Подобрать номер") 
        i.material-icons arrow_forward