.content_enter {
    display: grid;
    grid-template-rows: repeat(5, 57.2px);
    padding: 24px 30px 32px 30px;
    width: 380px;
    height: 358px;
    margin: auto;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.content_enter__enter-name h1 {
    font-size: 24px;
    line-height: 30px;
}

.content_enter__enter-email input,
.contetn_enter__enter-password input {
    width: 320px;
    height: 44px;
    margin-top: 6px;
    
    background-color: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
}

.contetn_enter__enter-password input {
    margin-top: 5px;
}

.content_enter__enter-btn p {
    display: inline-block;
}

.content_enter__enter-btn input {
    width: 320px;
    height: 44px;

    cursor: pointer;

    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    color: #fff;

    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}

.content_enter__enter-btn input:active, :hover, :focus {
    outline: none;
}

.content_enter__enter-btn p .material-icons {
    position: relative;
    top: -35px;
    float: right;
    margin-right: 10px;

    color: #fff;
}

.content_enter__enter-noAccount {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    margin-top: 30px;
}

.content_enter__enter-noAccount .btn_registration {
    text-align: center;
    width: 62px;
    height: 15px;
    margin-left: 56px;

    border: 2px solid #BC9CFF;
    padding: 14px 19px 15px 18px;
    border-radius: 22px;

    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;

}
